In [19]:
import pandas as pd
import numpy as np

In [24]:
NYC_taxi_data = pd.read_csv('Desktop/Taxi_Task/yellow_tripdata_2015-06.csv')
size_before_cleaning = len(NYC_taxi_data)
NYC_taxi_data.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,02/06/15 11:19,02/06/15 11:47,1,1.63,-73.954430,40.764141,1,N,-73.974754,40.754093,2,17.0,0,0.5,0.00,0,0.3,17.80
1,2,02/06/15 11:19,02/06/15 11:27,1,0.46,-73.971443,40.758942,1,N,-73.978539,40.761909,1,6.5,0,0.5,1.00,0,0.3,8.30
2,2,02/06/15 11:19,02/06/15 11:30,1,0.87,-73.978111,40.738434,1,N,-73.990273,40.745438,1,8.0,0,0.5,2.20,0,0.3,11.00
3,2,02/06/15 11:19,02/06/15 11:39,1,2.13,-73.945892,40.773529,1,N,-73.971527,40.760330,1,13.5,0,0.5,2.86,0,0.3,17.16
4,1,02/06/15 11:19,02/06/15 11:32,1,1.40,-73.979088,40.776772,1,N,-73.982162,40.758999,2,9.5,0,0.5,0.00,0,0.3,10.30

In [21]:
# any nulls in df?
NYC_taxi_data.isnull().values.any()

False

In [22]:
# descriptive stats 
NYC_taxi_data.describe()

,VendorID,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
count,1048575.000000,1048575.000000,1048575.000000,1048575.000000,1048575.000000,1048575.000000,1048575.000000,1048575.000000,1048575.000000,1048575.000000,1048575.000000,1048575.00000,1048575.000000,1048575.000000,1048575.000000,1048575.000000
mean,1.523126,1.688936,16.843766,-72.862343,40.138125,1.040956,-72.887935,40.152949,1.375407,13.234618,0.416861,0.49766,1.759890,0.298854,0.299712,16.508448
std,0.499465,1.332203,8629.063140,8.997940,4.955844,0.575134,8.921894,4.900824,0.498970,11.071415,0.373946,0.03673,2.743958,1.711682,0.012454,13.548841
min,1.000000,0.000000,0.000000,-86.031525,0.000000,1.000000,-736.583313,0.000000,1.000000,-171.000000,-1.000000,-0.50000,-80.000000,-5.540000,-0.300000,-171.800000
25%,1.000000,1.000000,1.000000,-73.991997,40.734924,1.000000,-73.991196,40.733501,1.000000,7.000000,0.000000,0.50000,0.000000,0.000000,0.300000,8.800000
50%,2.000000,1.000000,1.730000,-73.981697,40.752583,1.000000,-73.979614,40.753124,1.000000,10.000000,0.500000,0.50000,1.200000,0.000000,0.300000,12.350000
75%,2.000000,2.000000,3.200000,-73.966454,40.767780,1.000000,-73.961838,40.769562,2.000000,15.500000,0.500000,0.50000,2.450000,0.000000,0.300000,18.360000
max,2.000000,9.000000,8000000.000000,125.535568,59.032299,99.000000,125.535568,56.766262,5.000000,670.060000,20.200000,1.30000,980.910000,900.970000,0.300000,990.710000

In [25]:
# 'trip_distance' 
NYC_taxi_data = NYC_taxi_data[((NYC_taxi_data['trip_distance'] > 0) & (NYC_taxi_data['trip_distance'] < 10))]

size_after_cleaning = len(NYC_taxi_data)

percentage_data_remaining = float(size_after_cleaning)/float(size_before_cleaning)*100
print percentage_data_remaining

93.7638223303

In [29]:
#'tip_amount'
count_neg_values = (NYC_taxi_data['tip_amount'] < 0).sum()

NYC_taxi_data = NYC_taxi_data.loc[NYC_taxi_data['tip_amount'] >= 0] # remove negative values

# outliers:
outlier_cut_off = round(NYC_taxi_data['tip_amount'].mean()+3*NYC_taxi_data['tip_amount'].std())

# count outliers
num_tip_outliers = (NYC_taxi_data['tip_amount'] < outlier_cut_off).sum()
percentage_data_with_outliers_removed = float(size_after_cleaning-num_tip_outliers)/float(size_before_cleaning)*100

# -> didn't remove outliers

In [30]:
# coordinates
NYC_taxi_data = NYC_taxi_data[((NYC_taxi_data['dropoff_longitude'] != 0) & (NYC_taxi_data['dropoff_latitude'] != 0))]
NYC_taxi_data = NYC_taxi_data[((NYC_taxi_data['pickup_longitude'] != 0) & (NYC_taxi_data['pickup_latitude'] != 0))]

print min(NYC_taxi_data['dropoff_longitude'])
print min(NYC_taxi_data['pickup_longitude'])
print max(NYC_taxi_data['dropoff_latitude'])
print max(NYC_taxi_data['pickup_latitude'])

In [ ]:
NYC_taxi_data = NYC_taxi_data[(NYC_taxi_data['dropoff_longitude'] >= -86)]
percentage_data_remaining = len(NYC_taxi_data)/float(size_before_cleaning)*100
print percentage_data_remaining

In [ ]:
# write cleaned data to csv
NYC_taxi_data.to_csv('Desktop/Taxi_Task/cleaned_NYC_taxi_data_with_geo.csv')

In [16]:
# relationship between variables: correlation matrix
NYC_taxi_data.corr()

,VendorID,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
VendorID,1.000000,0.307755,0.015252,-0.048297,0.048397,-0.001067,-0.034679,0.034799,-0.005466,0.008886,0.012031,0.011267,0.014564,0.008264,-0.009185,0.012135
passenger_count,0.307755,1.000000,0.012808,-0.018053,0.018033,-0.007212,-0.014139,0.014143,-0.002053,0.004447,0.005247,0.011498,0.003903,0.003006,0.001461,0.005058
trip_distance,0.015252,0.012808,1.000000,-0.013190,0.013555,-0.015450,-0.013054,0.013521,0.001256,0.812865,0.021300,0.020486,0.467397,0.406824,0.007883,0.802497
pickup_longitude,-0.048297,-0.018053,-0.013190,1.000000,-0.999879,0.063523,0.905179,-0.905186,0.001536,0.027370,-0.010336,-0.064473,0.019276,0.000516,-0.019147,0.026031
pickup_latitude,0.048397,0.018033,0.013555,-0.999879,1.000000,-0.063511,-0.905098,0.905285,-0.001539,-0.027086,0.010212,0.064457,-0.018996,0.000699,0.019157,-0.025620
RateCodeID,-0.001067,-0.007212,-0.015450,0.063523,-0.063511,1.000000,0.059643,-0.059664,0.004945,0.149705,-0.031339,-0.423895,0.088199,0.084071,-0.121605,0.146747
dropoff_longitude,-0.034679,-0.014139,-0.013054,0.905179,-0.905098,0.059643,1.000000,-0.999745,-0.000606,0.030931,-0.008518,-0.053965,0.022056,0.006628,-0.001507,0.030268
dropoff_latitude,0.034799,0.014143,0.013521,-0.905186,0.905285,-0.059664,-0.999745,1.000000,0.000608,-0.030729,0.008587,0.054005,-0.021938,-0.005970,0.001487,-0.030011
payment_type,-0.005466,-0.002053,0.001256,0.001536,-0.001539,0.004945,-0.000606,0.000608,1.000000,-0.001461,-0.001210,-0.012087,0.218142,0.000858,0.000057,0.056060
fare_amount,0.008886,0.004447,0.812865,0.027370,-0.027086,0.149705,0.030931,-0.030729,-0.001461,1.000000,-0.027660,-0.222711,0.554611,0.390485,-0.029252,0.968217
extra,0.012031,0.005247,0.021300,-0.010336,0.010212,-0.031339,-0.008518,0.008587,-0.001210,-0.027660,1.000000,0.049174,0.008262,-0.016477,0.005703,0.019915
mta_tax,0.011267,0.011498,0.020486,-0.064473,0.064457,-0.423895,-0.053965,0.054005,-0.012087,-0.222711,0.049174,1.000000,-0.131740,-0.111350,0.062260,-0.216153
tip_amount,0.014564,0.003903,0.467397,0.019276,-0.018996,0.088199,0.022056,-0.021938,0.218142,0.554611,0.008262,-0.131740,1.000000,0.304058,-0.016318,0.728144
tolls_amount,0.008264,0.003006,0.406824,0.000516,0.000699,0.084071,0.006628,-0.005970,0.000858,0.390485,-0.016477,-0.111350,0.304058,1.000000,-0.003212,0.484483
improvement_surcharge,-0.009185,0.001461,0.007883,-0.019147,0.019157,-0.121605,-0.001507,0.001487,0.000057,-0.029252,0.005703,0.062260,-0.016318,-0.003212,1.000000,-0.026842
total_amount,0.012135,0.005058,0.802497,0.026031,-0.025620,0.146747,0.030268,-0.030011,0.056060,0.968217,0.019915,-0.216153,0.728144,0.484483,-0.026842,1.000000

In [31]:
# tip amount - extreme cases 
# in cleaned dataset
extreme_tips_greater_50 = NYC_taxi_data[(NYC_taxi_data['tip_amount'] >= 50)]
tips_greater_50 = extreme_tips_greater_50.sort(['tip_amount'], ascending = [1])
tips_greater_50 = tips_greater_50['tip_amount']

In [36]:
# in initial dataset
NYC_taxi_data = pd.read_csv('Desktop/Taxi_Task/yellow_tripdata_2015-06.csv')
extreme_tips_greater_100 = NYC_taxi_data[(NYC_taxi_data['tip_amount'] >= 100)]
tips_greater_100 = extreme_tips_greater_100.sort(['tip_amount'], ascending = [1])
tips_greater_100 = tips_greater_100['tip_amount']